body {
  background-image: url('crumpled_paper.jpg');
  background-size: cover;
  background-repeat: none;
}

h1 {
  font-family:'Russo One', sans-serif;
  font-size: 34px;
  margin-left: 25px;
  color: #4e4e55;
}

button {
  margin-left: 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 6px;
  font-family: 'Russo One', sans-serif;
  font-size: 18px;
  color: #4e4e55;
  text-decoration: none;
  cursor: pointer;
  background-color: #ddd;
  border: 3px solid #555;
  height: 60px;
  width: 300px;
}

button:hover{
  opacity: .75;
}

a{
  color: #000;
}

p, #excuses{
  position: relative;
  top: 30px;
  left: 25px;
  font-family: 'Amatic SC', monospace;
  font-size: 20px;
  color: #009;
}

#license{
  /*position: absolute;*/
  bottom: 25px;
  left: 25px;
  font-family: monospace;
  font-size: 12px;
  color: grey;
  margin-top:95px;
}
